* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #3246a9;
  --color-primary-dark: #202d6c;
  --color-primary-light: #abb4dc;
  --color-white: #fff;
  --color-grey-dark: #333;
}

body {
  font-family: 'Roboto', sans-serif;
}

.sidenav {
  background-color: var(--color-primary);
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1;
}

.dashboard {
  color: #333;
  margin-left: 400px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
  width: 80%;
}

.nav__list {
  padding: 2rem 0;
}

.nav__item {
  margin: 2rem 0;
}

.nav__link {
  color: var(--color-white);
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.nav__link:hover,
.current {
  background-color: var(--color-primary-light);
  transition: all .5s;
}

/* Mobility Page */
