* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #ec1a1a;
  --color-white: #fff;
  --color-grey-dark: #333;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--color-grey-dark);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
  width: 80%;
}

.nav__list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.nav__link {
  border-radius: 10px;
  color: var(--color-primary);
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.nav__link:focus {
  box-shadow: 0 0 0 2pt var(--color-primary);
}

/* Mobility Page */
.mobility{
  background-color: var(--color-grey-dark);
  height: 100vh;
}

@media screen and (min-width: 700px) {

  .nav__link:hover,
  .current {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all .5s;
  }
}

@media (max-width: 700px) {

  .nav__list {
    flex-direction: column;
  }

  .nav__item:not(:last-child) {
    padding-bottom: .75rem;
  }
}